/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
  font-family: 'Pattaya', sans-serif;
  font-weight: 400;
}
a,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: 400;
}
h4,
h5 {
  font-size: 2.8rem;
}
/* Global Styles End */

.button {
  padding: 2rem 6rem;
  border: none;
  background-color: #4c6e97;
  color: white;
  cursor: pointer;
  transition: all .3s ease-out;
}

.button:hover, .button:focus {
  background-color: #27394e;
}

/* Header */
.header {
  background-color: #131c27;
}

/* Navigation */
.header_nav {
  display: flex;
  flex-wrap: wrap;
  min-height: 10vh;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.nav_logo {
  color: #ffffff;
  flex: 5 1 40rem;
  align-self: center;
}

/* Menu */
.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 40rem;
}

.menu_item {
  list-style: none;
}

.item_link {
  color: #ffffff;
  text-decoration: none;
}
/* Menu End */

/* Navigation End */

/* Header End */

/* Intro Section */
.intro-section {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    url("/img/tilte_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.intro-section_slogan {
  text-shadow: 3px 3px 5px  #000000;
}

.intro_section_advertisement {
  margin-top: 3rem;
  text-align: center;
}

.intro-section_booking {
  margin-top: 3rem;
}
/* Intro Section End */

/* Location Section */
.location-section {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,.6),transparent), url("/img/zermatt.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.location-section_header {
  width: 90%;
  margin: 0 auto;
}

.header_slogan {
  display: inline;
  padding-bottom: .5rem;
  border-bottom: .5rem solid #ffffff;
  text-shadow: 3px 3px 5px  #000000;
}

.header_description {
  margin-top: 4rem;
}

.location-section_image-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
}

.image-container_cloud {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.moving-cloud {
  animation: cloud-movement 4.5s ease-out infinite alternate;
  opacity: .3;
}
.static-cloud {
  z-index: 1;
}
/* Location Section End */

/* Media Queries */
@media screen and (max-width:888px) {
    .nav_logo {
        margin-bottom: 2rem;
        text-align: center;
    }
}
@media screen and (max-width:500px) {
    html {
        font-size: 40%;
    }
}
/* Media Queries End */

/* Animation */
@keyframes cloud-movement {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-60px, 15px);
  }
}

/* Animation End */

