/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}
a,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
}
h4,
h5 {
  font-size: 2.8rem;
}
/* Global Styles End */

.button {
  padding: 2rem 6rem;
  border: none;
  background-color: #4c6e97;
  color: white;
  cursor: pointer;
}

/* Header */
.header {
  background-color: #131c27;
}

/* Navigation */
.header_nav {
  display: flex;
  min-height: 10vh;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.nav_logo {
  color: #ffffff;
  flex: 5 1 40rem;
  align-self: center;
}

/* Menu */
.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 40rem;
}

.menu_item {
  list-style: none;
}

.item_link {
  color: #ffffff;
  text-decoration: none;
}
/* Menu End */

/* Navigation End */

/* Header End */

/* Intro Section */
.intro-section {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    url("/img/tilte_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.intro_section_advertisement {
  margin-top: 3rem;
  text-align: center;
}

.intro-section_booking {
  margin-top: 3rem;
}
/* Intro Section End */
