/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}
a,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: 400;
}
h4,
h5 {
  font-size: 2.8rem;
}
/* Global Styles End */

.button {
  padding: 2rem 6rem;
  border: none;
  background-color: #4c6e97;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover,
.button:focus {
  background-color: #27394e;
}

/* Header */
.header {
  background-color: #131c27;
  position: sticky;
  top: 0;
  z-index: 9;
}

/* Navigation */
.header_nav {
  display: flex;
  flex-wrap: wrap;
  min-height: 10vh;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.nav_logo {
  color: #ffffff;
  flex: 5 1 40rem;
  align-self: center;
}

/* Menu */
.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 40rem;
}

.menu_item {
  list-style: none;
}

.item_link {
  color: #ffffff;
  text-decoration: none;
}
/* Menu End */

/* Navigation End */

/* Header End */

/* Intro Section */
.intro-section {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    url("/img/tilte_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.intro-section_slogan {
  text-shadow: 3px 3px 5px #000000;
}

.intro_section_advertisement {
  margin-top: 3rem;
  text-align: center;
}

.intro-section_booking {
  margin-top: 3rem;
}
/* Intro Section End */

/* Location Section */
.location-section {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    url("/img/zermatt.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  overflow: hidden;
}

.location-section_header {
  width: 90%;
  margin: 0 auto;
}

.location-section .header_slogan {
  display: inline;
  padding-bottom: 0.5rem;
  border-bottom: 0.5rem solid #ffffff;
  text-shadow: 3px 3px 5px #000000;
}

.location-section .header_description {
  margin-top: 4rem;
}

.location-section_image-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
}

.image-container_cloud {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
}

.moving-cloud-one {
  animation: cloud-movement 3.5s ease-out infinite alternate;
  opacity: 0.3;
  top: 4rem;
}
.moving-cloud-two {
  animation: cloud-movement 7s ease-out infinite alternate;
  z-index: 1;
}
/* Location Section End */

/* Benefit Section */
.benefit-section {
  min-height: 100vh;
}

.benefit-section_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #343c44;
  color: #ffffff;
  text-align: center;
  min-height: 30vh;
}

.benefit-section .header_description {
  margin-top: 1rem;
}

.benefit-section_cards {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 90%;
  min-height: 70vh;
  margin: 0 auto;
}

.cards_card {
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 3rem;
  text-align: center;
  box-shadow: 0 10px 15px 3px rgba(0, 0, 0, 0.3) ;
}

.card_icon-container {
  background-color: #4c6e97;
}

.icon-container_icon {
  height: 100px;
  padding: 2rem 0;
  pointer-events: none;
}

.card_title {
  margin: 4rem 0 6rem 0;
}
/* Benefit Section End */

/* Contact Section */
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/img/winter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.contact-section_form-wrapper {
  width: 60%;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.6);
}

.header_title {
  margin: 4rem;
  text-align: center;
}

.form_input-container {
  padding: 3rem;
  text-align: center;
}

.input-container_label {
  margin-right: 3rem;
}

.input-container_input {
  padding: 1rem 3rem;
  max-width: 90%;
}

.form_submit {
  margin-top: 8rem;
  width: 100%;
  border-radius: 0 0 25px 25px;
}
/* Contact Section End */

/* Footer */
.footer {
  background-color: #131c27;
  color: #ffffff;
}

.footer_wrapper {
  display: flex;
  align-items: center;
  width: 90%;
  min-height: 10vh;
  margin: 0 auto;
}

.wrapper_title {
  flex: 5 1 40rem;
  font-family: "Pattaya", sans-serif;
}

.wrapper_social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 40rem;
  list-style: none;
}
/* Footer End */

/* Media Queries */
@media screen and (max-width: 888px) {
  .nav_logo {
    margin-bottom: 2rem;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }
}
/* Media Queries End */

/* Animation */
@keyframes cloud-movement {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0, 0);
  }
}

/* Animation End */
